[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "colorama>=0.4.6",
    "numpy>=2.3.5",
    "openai>=2.13.0",
    "pandas>=2.3.3",
]
